/* Color */
$mainColor: #020203;
$white: #eff6ee;

$primaryColor: #1E1E2C;
$secondaryColor: #3D3D4E;

$accentColor1: #00A6FB;
$accentColor2: #FB4D3D;

$gray: #D3D3D9;
$darkGray: #8C8C99;

$successColor: #4CAF50;
$warningColor: #FFC107;

$backgroundColor: #121212;
$backgroundLightColor: #FAFAFA;


/* Font */
$headerFont: min(9vw, 4.5rem);
$hFont: min(6vw, 1.625rem);
$pFont: min(6vw, 1rem);

/* Breakpoints */
$tablet: 767px;
$laptop: 1024px;
$computer: 1439px;


@mixin overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    @include flexCenterColumn;
    gap: 3rem;
    color: $white;
    text-align: center;

}

@mixin small_button {
    border-radius: 10px;
    background-color: $accentColor1;
    color: $mainColor;
    border: none;
    width: 30%;
    padding: .5rem;
    max-width: 100px;
    transition: all .5s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $gray;
        color: $mainColor;
        transition: all .5s ease-in-out;
    }
}



@mixin button {
    border-radius: 10px;
    background-color: $accentColor1;
    color: $mainColor;
    border: none;
    width: 50%;
    padding: .6rem;
    max-width: 150px;
    transition: all .5s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $gray;
        color: $mainColor;
        transition: all .5s ease-in-out;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexStartColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexToRow {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media(min-width: $laptop) {
        justify-content: space-between;
    }
}

@mixin container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

@mixin section {
    margin-top: 10rem;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin grid_container {
    display: grid;
    place-items: center;
    row-gap: 2rem;
    width: 100%;
    max-width: 1000px;
    padding-top: 2rem;

    @media(min-width: $tablet) {
        padding-top: 3rem;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
}