@use "../utills/variables" as*;

.root {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.main {
  background-image: url(../public/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
  max-height: 3000px;
  margin-bottom: 100px;

  @media screen and (min-width:$laptop) {
    .main {
      background-attachment: fixed;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  @include flexCenterColumn;
  gap: 3rem;

  h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media screen and (min-width:$laptop) {
      width: 80%;
    }

  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.box {
  width: 30%;
  max-width: 200px;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  row-gap: .5rem;
}

.image {
  width: 60%;
  height: auto;
}

.button {
  background-color: $white;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  color: $mainColor;
  transition: all .3s ease-in-out;
  margin-top: 1rem;

  &:hover {
    background-color: $gray;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
}