@use "../../utills/variables" as*;

.signup {
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
    row-gap: 2rem;
    padding-top: 15vh;
}

.form {
    width: 100%;
    max-width: 500px;
    display: grid;
    place-items: center;
    row-gap: 1.5rem;
}

.login_btn {
    @include button;
    width: 100%;
    height: 7.5vh;
    max-width: 400px;
    padding: .5rem;
    color: $white;
}