@use "../../../utills/variables" as *;

.bookings {
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

}

.pending {
    color: #ff6f00;
}

.completed {
    color: green;
}

.canceled {
    color: red;
}

.booking {
    margin-bottom: 1rem;
    background-color: $white;
    padding: .4rem;
    border-radius: 10px;
}

.details {
    margin-top: .5rem;
}

.button {
    @include small_button;
}

.confirmModal {
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;

    .buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

}

.wrapper {
    display: grid;
    height: 50%;
    place-items: center;
    background: $white;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activeModal {
    display: grid;
}

.yesButton,
.noButton {
    @include small_button;
    width: 40%;

    &:hover {
        color: $mainColor;
        border: 1px solid $mainColor;
    }
}

.yesButton {
    background-color: red;
}