@use "../../utills/variables" as*;

.body {
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
    margin-top: 10vh;
    row-gap: 1rem;
    position: relative;

    i {
        color: $gray;
    }
}

.form {
    width: 100%;
    display: grid;
    place-items: center;
    row-gap: 1rem;
}

.button {
    @include button
}

.modal {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100vw;
    height: 100vh;
    color: $mainColor;
    position: absolute;
    display: none;
    place-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalTextWrapper {
    width: 95%;
    background-color: $gray;
    max-width: 450px;
    border-radius: 10px;
    padding: .5rem;

}

.showModal {
    display: grid;
    transition: all .3s ease-in-out;
}